absl-py==1.4.0
alabaster==0.7.13
anyio==4.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.13.1
bcrypt==4.1.1
beautifulsoup4==4.12.2
biopython==1.81
bleach==6.1.0
blinker==1.7.0
cachetools==5.3.0
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==2.0.7
click==8.1.7
colorama==0.4.6
comm==0.2.0
ConfigArgParse==1.5.3
contourpy==1.2.0
coverage==6.0.2
cryptography==41.0.7
cycler==0.10.0
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.18.1
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
flake8==4.0.1
Flask==3.0.0
flatbuffers==23.1.21
fonttools==4.46.0
fqdn==1.5.1
gast==0.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.0.1
idna==3.3
imagesize==1.4.1
iniconfig==1.1.1
pip-install==1.3.5
ipykernel==6.27.1
ipympl==0.9.3
ipyparams==0.2.1
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.1
jupyter_server==2.12.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.11.0
# kiwisolver==1.3.2
libclang==15.0.6.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.6.1
mendeleev==0.9.0
mistune==3.0.2
mpmath==1.3.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
nest-asyncio==1.5.8
nglview==3.0.8
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.1
oauthlib==3.2.2
overrides==7.4.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.0.0
pockets==0.9.1
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
py3Dmol==2.0.0.post2
pyabaqus==2022
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.8.0
pycparser==2.21
pyfiglet==0.8.post1
pyflakes==2.4.0
Pygments==2.17.2
PyNaCl==1.5.0
pyparsing==2.4.7
pypdf==3.15.1
PyPDF2==3.0.1
pyrsistent==0.20.0
pytest==6.2.5
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.31.1
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.13.2
rsa==4.9
scipy==1.11.3
scp==0.14.5
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autopackagesummary==1.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==1.4.50
stack-data==0.6.3
symfit==0.5.6
sympy==1.6.2
tenacity==8.2.3
termcolor==2.2.0
terminado==0.18.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toposort==1.9
tornado==6.4
traitlets==5.14.0
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.7
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
furo==2024.5.6